doctype html
html(lang="ru")

    head
        // head
        title JustFit
        
        // styles
        include ../_modules/styles.pug

    body
        //- div.wrapper
        // header
        include ../_modules/header.pug

        // main-wrapper
        main.page-content
            include ../_modules/banner.pug
            include ../_modules/secondPage.pug
            include ../_modules/thirdPage.pug
            include ../_modules/fourthPage.pug
            include ../_modules/fifthPage.pug
            include ../_modules/sixthPage.pug
            include ../_modules/seventhPage.pug
            include ../_modules/eighthPage.pug
            include ../_modules/ninthPage.pug
            include ../_modules/tenthPage.pug
            

        // footer
        include ../_modules/footer.pug

    // scripts
    include ../_modules/scripts.pug
