section.eighthPage
	a(name = "studios")
	div.eighthPage-container
		h2.page-title Уже открытые студии
		div.studio-items
			//- div.item(style="background: url('../images/eighthPage-background-square.png') no-repeat;")
			div.item
				p.desc Сайт: 
					span www.20bodyfit.es
					br
					| Название: 
					span 20BodyFit
					br
					| Страна: 
					span Испания
				img(src='../images/eighthPage-image-1.png' width="auto" height="auto")
			//- div.item(style="background: url('../images/eighthPage-background-square.png' ) no-repeat;")
			div.item
				p.desc Сайт: 
					span www.justfitpolska.pl
					br
					| Название: 
					span JustFit
					br
					| Страна: 
					span Польша
				img(src='../images/eighthPage-image-2.png' width="auto" height="auto")
			//- //- div.item(style="background: url('../images/eighthPage-background-square.png') no-repeat;")
			//- div.item
			//- 	p.desc Сайт: 
			//- 		span www.20bodyfit.es
			//- 		br
			//- 		| Название: 
			//- 		span 20BodyFit
			//- 		br
			//- 		| Страна: 
			//- 		span Испания
			//- 	img(src='../images/eighthPage-image-1.png' width="auto" height="auto")
			//- //- div.item(style="background: url('../images/eighthPage-background-square.png' ) no-repeat;")
			//- div.item
			//- 	p.desc Сайт: 
			//- 		span www.justfitpolska.pl
			//- 		br
			//- 		| Название: 
			//- 		span JustFit
			//- 		br
			//- 		| Страна: 
			//- 		span Польша
			//- 	img(src='../images/eighthPage-image-2.png' width="auto" height="auto")
		a.animated-link.studios-link(href="#") Еще студии
		//- button.btn.studios-btn(style="background: url('../images/eighthPage-button.png')") Хотите такую же
		a.btn.studios-btn.foc-partner-open(href="#foc-partner") Хотите такую же