section.fifthPage
	div.fifthPage-container
		h2.page-title БИЗНЕС, КОТОРЫЙ ПОДОЙДЕТ
		div.personality-items
			a.item.foc-info-open(href="#foc-info")
				img.pic(src='../images/fifthPage-icon1.png'  width="auto" height="auto")
				span.desc Начинающим 
					br 
					| предпринимателям
			a.item.foc-info-open(href="#foc-info")
				img.pic(src='../images/fifthPage-icon2.png'  width="auto" height="auto")
				span.desc Реабилитационным 
					br 
					| центрам
			a.item.foc-info-open(href="#foc-info")
				img.pic(src='../images/fifthPage-icon3.png'  width="auto" height="auto")
				span.desc Персональным 
					br 
					| тренерам
			a.item.foc-info-open(href="#foc-info")
				img.pic(src='../images/fifthPage-icon4.png'  width="auto" height="auto")
				span.desc Гостиницам, 
					br 
					| санаториям
			a.item.foc-info-open(href="#foc-info")
				img.pic(src='../images/fifthPage-icon5.png'  width="auto" height="auto")
				span.desc Фитнес 
					br 
					| центрам