footer.main-footer
	div.footer-container
		section.company-info 
			img.logo(src='../images/footer-logo.png' width="auto" height="auto") 
			span.description ООО “ДжастФит” 
		span.sign Сделано с болью 
			a.animated-link.front-link(src="#") asyanm
	
	form.foc.foc-call(id="foc-call")
		div.foc-container
			input.input(type="text" name="name" placeholder="Ваше имя" required)
			input.input.phone-mask(type="tel" name="phone" placeholder="Номер телефона" required)
			button.btn.foc-btn(type="submit" name="button") заказать звонок
	form.foc.foc-info(id="foc-info")
		div.foc-info-container
			h2.foc-info-title Профессиональный спорт
			text-area.description Желающим повысить свой профессиональный уровень, увеличить доход, привлечь новых клиентов. 
				ul Тренировка проходит в три этапа:
					li I. Первый этап – разогрев и подготовка организма к основной части тренировки, во время которого также запускаются механизмы увеличения скорости обмена веществ и жиросжигания.
					li II. Основная часть занятия, исходя из поставленных задач, будет направлена на увеличение мышечной массы, выносливости; «сушку» мышц; снижение веса; реабилитацию.
					li III. Заключительная часть – лимфодренажный массаж поможет организму избавиться от токсинов, включая молочную кислоту и гормон стресса, излишков жира и воды, восстанавливая и активизируя его защитные силы.
		img.foc-info-back(src="/images/foc-info-background_1.png")
	form.foc.foc-partner(id="foc-partner")
		div.foc-container
			input.input.foc-input-partner(type="text" name="name" placeholder="Ваше имя" required)
			input.input.foc-input-partner.phone-mask(type="tel" name="phone" placeholder="Номер телефона" required)
			input.input.foc-input-partner(type="text" name="wish" placeholder="Пожелание")
			button.btn.foc-btn(type="submit" name="button") стать партнером