section.fourthPage
	a(name ="franchise")
	div.fourthPage-container
		h2.page-title ФРАНШИЗА
		div.fourthPage-content
			ul.paragraph
				li.paragraph-item.first-item.active Окупаемость
				li.paragraph-item.second-item Свободная ниша
				li.paragraph-item.third-item Быстрый запуск
				li.paragraph-item.fouth-item Маркетинг JustFit
				li.paragraph-item.fifth-item Мобильное приложение
			
			div.paragraph-desc.first-desc.active
				h3.desc-title начните строить свой собственный успешный бизнес c JustFit
				text-area.desc-detailed С каждым годом спрос на EMS тренировки будет расти на 20%
					br
					| На данный момент рост составляет 67% по сравнению с прошлым годом!
			div.paragraph-desc.second-desc
				h3.desc-title СТАНЬТЕ ВЛАДЕЛЬЦЕМ ИННОВАЦИОННОЙ ФИТНЕС-СТУДИИ Justfit
				text-area.desc-detailed Первые студии EMS - тренировок появились в Европе и сразу приобрели невероятную популярность. На данный момент в мире открыто более 300 EMS студий с беспроводным оборудованием JustFit. 
					br
					| В России EMS - так же популярны.
			div.paragraph-desc.third-desc
				h3.desc-title Предоставляем возможность начать работу с первого месяца
				text-area.desc-detailed Открытие студии с нуля занимает не более 2- х месяцев. За этот период,  до открытия студии запускаем совместную рекламную кампанию и начинаем предпродажи абонементов, чтобы к моменту открытия у вас уже были клиенты, а часть инвестиций были возвращены.
			div.paragraph-desc.fouth-desc
				h3.desc-title ЧТО ВЫ ПОЛУЧАЕТЕ, СТАНОВЯСЬ ПАРТНЕРОМ JustFit
				ul.desc-detailed 
					li - Помощь в подборе персонала
					li - Обучение
					li - Сертификация
					li - Программы тренеров
					li - Оборудование
					li - Комплектующие
					li - Гарантийное обслуживание
					li - Сервис
					li - Бизнес-процессы
					li - Финансовая концепция
					li - Брендбук
					li - Сайт
					li - Совместная раскрутка в соцсетях
			div.paragraph-desc.fifth-desc
				h3.desc-title Будь всегда в курсе с мобильным приложением JustFit mobile
				text-area.desc-detailed Приложение Justfit Mobile –позволит проводить занятия на открытом воздухе без планшета, достаточно скачать приложение в свой смартфон в Google Play или App Store. 
					br
					| Приложение Justfit app позволит следить за результатами, записываться на тренировки и отслеживать их в календаре. Достаточно скачать приложение в свой мобильный в Google Play или App Store.

		img.background-rhombuses(src='../images/fourthPage-background-rhombuses.png')