header.main-header
	div.header-container
		//- img.logo-back(src="../images/header-logo-background-1.png" width="auto" height="auto")
		section.company-info
			img.logo-back(src="../images/header-logo-background-1.png" width="auto" height="auto")
			a(href="#")
				img.logo(src="../images/header-logo-with-text.png" width="auto" height="auto")
			//- p.desc ФРАНШИЗА&nbsp;
			//- 	br
			//- 	| нового поколения&nbsp;
			//- 	br
			//- 	| фитнеса в России&nbsp;
		//- nav.header-nav
			//- div.burger
			//- 	span.toggle__bar
		ul.header-menu
			li 
				a.animated-link.menu-link(href="#plus") Преимущества
			li
				a.animated-link.menu-link(href="#franchise") Франшиза
			li
				a.animated-link.menu-link(href="#partners") Партнерство
			li
				a.animated-link.menu-link(href="#map") JustFit в мире	
			li
				a.animated-link.menu-link(href="#equipment") Оборудование				
			li
				a.animated-link.menu-link(href="#calc") Калькулятор			
			li
				a.animated-link.menu-link(href="#studios") Прибыль			
			li
				a.animated-link.menu-link(href="#contacts") Контакты
		//- button.btn.btn-call(style="background: url('../images/header-button.png')")
		div.btn.btn-call
			a.animated-link.tel(href="tel:+79608250005") +7 960-825-00-05	
			a.animated-link.call(href="#foc-call" id="openFocCall") Заказать звонок