section.ninthPage(style="")
	a(name = "map")
	div.ninthPage-container
		h2.page-title JUSTFIT В МИРЕ
	div(id="map")
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOCs-QQNnj7gnWy4Avn-WCY7bSR-XJQVA&callback=initMap" async defer)