section.secondPage
	a(name = "plus")
	div.secondPage-container
		h2.page-title Секрет популярности EMS тренировок JustFiT
		div.secondPage-content
			ul.paragraph
				li.paragraph-item.first-item.active Эффективный
					img.selected-radio(src="../images/radio-button.png" width="auto" height="auto")
				li.paragraph-item.second-item Мобильный
					img.selected-radio(src="../images/radio-button.png" width="auto" height="auto")
				li.paragraph-item.third-item Беспроводной
					img.selected-radio(src="../images/radio-button.png" width="auto" height="auto")
				li.paragraph-item.fouth-item Индивидуальный
					img.selected-radio(src="../images/radio-button.png" width="auto" height="auto")
				li.paragraph-item.fifth-item Удобный
					img.selected-radio(src="../images/radio-button.png" width="auto" height="auto")
			
			div.paragraph-desc.first-desc.active
				h3.desc-title Доказанная эффективность
				text-area.desc-detailed Вместо 3-4 часов силовых тренировок в спорт зале, занятия на EMS - тренажере занимают ровно 20 минут и дают видимый результат. Увеличение мышечной силы и выносливости. Возможность тренировки при травмах.
			div.paragraph-desc.second-desc
				h3.desc-title Мобильность
				text-area.desc-detailed Сигнал WiFi устойчив на улице и в помещении. Можно проводить тренировки как в студии так и на открытом воздухе. Для удобства  тренера приложение Justfit Mobile –позволит проводить занятия на открытом воздухе без планшета, достаточно скачать приложение в свой смартфон в Google Play или App Store. 
					br
					| прогресса от ЭМС.
			div.paragraph-desc.third-desc
				h3.desc-title Беспроводные технологии
				text-area.desc-detailed ЭМС-тренажер Justfit – полная свобода в движениях. По сравнению с традиционной технологией EMS, система Justfit управляется при помощи планшета или смартфона, через канал WiFi.
			div.paragraph-desc.fouth-desc
				h3.desc-title Индивидуальность даже при групповых тренировках
				text-area.desc-detailed Один планшет, один тренер и до 6 клиентов одновременно с индивидуальными настройками. Система позволяет сохранять индивидуальные настройки клиента, что позволяет экономить время настройки при повторных тренировках.
			div.paragraph-desc.fifth-desc
				h3.desc-title Клиентоориентированность
				text-area.desc-detailed Приложение Justfit app - следить за результатами, записываться на тренировки и отслеживать их в календаре и много чего полезного, достаточно скачать приложение в свой мобильный в Google Play или App Store. JustFit – будь в тренде!
		
		img.squares-left(src="../images/secondPage-squares-left.png" width="auto" height="auto")
		img.squares-right(src="../images/secondPage-squares-right-1.png" width="auto" height="auto")