section.seventhPage
	a(name = "partners")
	div.seventhPage-container
		h2.page-title КАК СТАТЬ ПАРТНЕРОМ?
		div.partner-items
			div.item
				img.pic(src='../images/seventhPage-icon-1.png'  width="auto" height="auto")
				span.desc Заявка и 
					br 
					| анкетирование
			div.item
				img.pic(src='../images/seventhPage-icon-2.png'  width="auto" height="auto")
				span.desc Выбор формата сотрудничества
					br 
					| и подписание соглашения
			div.item
				img.pic(src='../images/seventhPage-icon-3.png'  width="auto" height="auto")
				span.desc Подбор помещения и 
					br 
					| подготовка бизнес-плана
			div.item
				img.pic(src='../images/seventhPage-icon-4.png'  width="auto" height="auto")
				span.desc Обучение
			div.item
				img.pic(src='../images/seventhPage-icon-5.png'  width="auto" height="auto")
				span.desc Старт продаж
			div.item
				img.pic(src='../images/seventhPage-icon-6.png'  width="auto" height="auto")
				span.desc Надежный и успешный
					br 
					| бизнес
		
		img.square-small(src='../images/seventhPage-square-small.png'  width="auto" height="auto")
		img.square-big(src='../images/seventhPage-square-big.png'  width="auto" height="auto")

