section.sixthPage
	a(name = "calc")
	div.sixthPage-container
		h2.page-title Калькулятор вашей прибыли
		div.btn-container
			p.above-btn-text Вам уже интересно?
			a.btn.calc-btn.foc-partner-open(href="#foc-partner") Спать партнером
		
		img.squares-left(src="../images/sixthPage-squares-left.png" width="auto" height="auto")
		img.squares-right(src="../images/sixthPage-squares-right.png" width="auto" height="auto")