section.tenthPage
	a(name = "contacts")
	div.tenthPage-container
		img.pic.pic-men(src="../images/tenthPage-picture-man_1.png" width="auto" height="auto")
		img.pic.pic-woman(src="../images/tenthPage-picture-woman_1.png" width="auto" height="auto")
		h2.page-title КОНТАКТЫ
		div.contacts
			p.address Самара, ТЦ “Сила Спорта”. Московское шоссе 17
			p.phone телефон для связи: +7 (960) 825-00-05
		form.foc.foc-partner
			input.input.foc-input-partner(type="text" name="name" placeholder="Ваше имя" required)
			input.input.foc-input-partner.phone-mask(type="tel" name="phone" placeholder="Номер телефона" required)
			input.input.foc-input-partner(type="text" name="wish" placeholder="Пожелание")
			button.btn.foc-btn(type="submit" name="button") стать партнером