section.thirdPage(style="")
	a(name = "equipment")
	div.thirdPage-container
		h2.page-title ОБОРУДОВАНИЕ	
		div.thirdPage-slider
			div.slider-body
				h3.slide-title Justfit PRO mobile
				div.slide
					ul.slide-text-left 
						li 1 планшет
						li 1 блок
						li 4 батарейки
						li 1 зарядное устройство
						li 12 шт. нательной одежды (1 пакет)
						li 3 костюма (размеры S, M, L) 
						li 1 пульверизатор
					img.slide-image(src="/images/banner-vest_1.png")
					ul.slide-text-right 
						li 1 пульсометр
						li 1 учебное пособие
						li 1 руководство по корпоративному стилю 
						li система коммуникации в режиме онлайн
						li подготовленный под студию смартсайт с возможностью настройки
						li приложение для смартфона (Android, iOS)
					div.iframe-container
						iframe.iframe.iframe-1(width="210" height="120" src="https://www.youtube.com/embed/tNhFAiFzgl8" frameborder="0" allowfullscreen)

						iframe.iframe.iframe-2(width="210" height="120" src="https://www.youtube.com/embed/tNhFAiFzgl8" frameborder="0" allowfullscreen)

						iframe.iframe.iframe-3(width="210" height="120" src="https://www.youtube.com/embed/tNhFAiFzgl8" frameborder="0" allowfullscreen)
			//- div.slider-body
			//- 	h3.slide-title Justfit me
			//- 	div.slide
			//- 		ul.slide-text-left 
			//- 			li 1 планшет
			//- 			li 1 блок
			//- 			li 4 батарейки
			//- 			li 1 зарядное устройство
			//- 			li 12 шт. нательной одежды (1 пакет)
			//- 			li 3 костюма (размеры S, M, L) 
			//- 			li 1 пульверизатор
			//- 		img.slide-image(src="/images/banner-vest_1.png")
			//- 		ul.slide-text-right 
			//- 			li 1 пульсометр
			//- 			li 1 учебное пособие
			//- 			li 1 руководство по корпоративному стилю 
			//- 			li система коммуникации в режиме онлайн
			//- 			li подготовленный под студию смартсайт с возможностью настройки
			//- 			li приложение для смартфона (Android, iOS)
			//- 		iframe(width="210" height="120" src="https://www.youtube.com/embed/tNhFAiFzgl8" frameborder="0" allowfullscreen)

			//- 		iframe(width="210" height="120" src="https://www.youtube.com/embed/tNhFAiFzgl8" frameborder="0" allowfullscreen)

			//- 		iframe(width="210" height="120" src="https://www.youtube.com/embed/tNhFAiFzgl8" frameborder="0" allowfullscreen)
			//- div.slider-body
			//- 	h3.slide-title Justfit PRO 
			//- 	div.slide
			//- 		ul.slide-text-left 
			//- 			li 1 планшет
			//- 			li 1 блок
			//- 			li 4 батарейки
			//- 			li 1 зарядное устройство
			//- 			li 12 шт. нательной одежды (1 пакет)
			//- 			li 3 костюма (размеры S, M, L) 
			//- 			li 1 пульверизатор
			//- 		img.slide-image(src="/images/banner-vest_1.png")
			//- 		ul.slide-text-right 
			//- 			li 1 пульсометр
			//- 			li 1 учебное пособие
			//- 			li 1 руководство по корпоративному стилю 
			//- 			li система коммуникации в режиме онлайн
			//- 			li подготовленный под студию смартсайт с возможностью настройки
			//- 			li приложение для смартфона (Android, iOS)
			//- 		iframe(width="210" height="120" src="https://www.youtube.com/embed/tNhFAiFzgl8" frameborder="0" allowfullscreen)

			//- 		iframe(width="210" height="120" src="https://www.youtube.com/embed/tNhFAiFzgl8" frameborder="0" allowfullscreen)

			//- 		iframe(width="210" height="120" src="https://www.youtube.com/embed/tNhFAiFzgl8" frameborder="0" allowfullscreen)