.eighthPage {
	@include row;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
    width: 100%;
    // height: 100vh;
    //height: 797px;
    height: auto;
    background-color: $whiteClayLighter;

    // .background-img {
    // 	position: relative;
    // 	top: 0;
    // 	left: -390px;
    // 	// z-index: -1;
    // }

    .eighthPage-container {
    	@include container;
		@include row;
        flex-direction: column;
		justify-content: start;
		align-items: center;
        color: $darkGray;  
        height: 100%;      

        .studio-items {
            @include container;
            @include row;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            font-family: $robotoReg;
            font-size: 14px;
            margin-bottom: 45px;          

            .item {
                @include row;
                flex-direction: column;
                //ёбаные ромбы -__< !
                background: url('../images/eighthPage-background-square.png' ) no-repeat;
                background-size: contain;
                // background-position:  -165px -120px !important;
                // width: 465px;
                // height: 465px;

                .desc {
                    line-height: 2;
                    margin-bottom: 20px;

                    span {
                        font-family: $robotoBold;
                        font-size: 18px;
                    }
                }
            }
        }

        .studios-link {
            font-family: $robotoBold;
            // font-size: 18px;
            color: $darkGray;
            @include underline($darkGray, -3, 1);
            margin-top: 10px;
            margin-bottom: 45px;
        }

        .studios-btn {
            width: 354px;
            height: 44px;
            color: $darkGray;
            margin-bottom: 55px;
            background: url('../images/eighthPage-button.png')  no-repeat;
            background-size: contain;
        }
    }

}